---
// TableOfContentsHeading.astro
const { heading } = Astro.props;
---

{heading && <li class="whitespace-nowrap">
  <a href={'#' + heading.slug}>
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul>
        {heading.subheadings.map((subheading : any) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>}