.heti code {
  --at-apply: 'text-#c7254e bg-#f9f2f4';
  --at-apply: 'py-0.5 px-1';
  --at-apply: 'whitespace-normal break-words';
  --at-apply: 'rounded';
}

.heti a {
  --at-apply: 'underline';
}

.heti a:hover {
  border-block-end: none;
}

.heti a:has(code) {
  --at-apply: 'decoration-none transition-none';
}

.heti a:has(code):hover {
  --at-apply: 'color-inherit bg-transparent';
}

.heti a code:hover {
  --at-apply: 'text-#f9f2f4 bg-#c7254e';
}
