body {
  --uno: antialiased dark:color-background dark:bg-foreground;
  color: theme("colors.foreground");
  background-color: theme("colors.background");
  font-family: theme("fontFamily.sans");
  line-height: normal;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.04) 1px, transparent 1px), linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 7px 7px;
}

a {
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  border-bottom: solid 2px;
  border-color: theme("colors.foreground");
  padding: 0;
  cursor: pointer;
}

a:hover {
  color: theme("colors.background");
  background-color: theme("colors.foreground");
  border-bottom: solid transparent 2px;
}

.heti a:hover {
  padding-block-end: 0px !important;
  border-block-end: 1px solid rgba(0, 0, 0, 0) !important;
}

a.normal {
  border: none;
  transition: none;
}

a:hover.normal {
  color: inherit;
  background-color: transparent;
}

.heti code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
