---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import Post from '~/components/Post.astro'
import Pagination from '~/components/Pagination.astro'
import { getPosts } from '~/utils'
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro'

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getPosts()
  return paginate(posts, { pageSize: 10 })
}) satisfies GetStaticPaths

type Params = InferGetStaticParamsType<typeof getStaticPaths>
type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props
---

<LayoutDefault>
  <section contain-layout un-flex="~ col gap-7.5">
    {
      page.data.map((post) => (
        <Post post={post}>
          <p class="line-clamp-4">{post.data.description ?? post.body.slice(0, 400)}</p>
        </Post>
      ))
    }

    <Pagination page={page} />
  </section>
</LayoutDefault>
