---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
  <div style="text-align: center; margin-top: 50px;">
    <h1>404 - 页面未找到</h1>
    <p>抱歉，您访问的页面不存在。</p>
    <a href="/" style="color: blue; text-decoration: underline;">返回主页</a>
  </div>
</LayoutDefault>