---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
    <h1 class="body">Hello, I'm <span class="article.heti code">meihuayi</span></h1>
    <div class="tanChiShe">
        <img id="tanChiShe" src="/snake-Dark.svg" alt="Snake Dark">
    </div>
  
</LayoutDefault>
