---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
    <div class="welcome">Hello, I'm <span class="gradientText">meihuayi</span></div>
    <div class="tanChiShe">
        <img id="tanChiShe" src="/snake-Dark.svg" alt="Snake Dark">
    </div>
  
</LayoutDefault>
