---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
    <h1 class="text-8 font-extrabold font-serif">Hello, I'm meihuayi</h1>
    <div class="tanChiShe">
        <img id="tanChiShe" src="/snake-Dark.svg" alt="Snake Dark">
    </div>
  
</LayoutDefault>
