---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
import { Image } from 'astro:assets';
import snakeDark from '/public/snake-Dark.svg';

const title = "关于我 - 梅花易博客";
---

<LayoutDefault title={title}>
    <h1 class="text-8 font-extrabold font-serif">我是梅花易</h1>
    <p class="text-4 font-light">一个热爱生活、喜欢记录和思考的人。</p>
    <p class="text-4 font-light">我的博客"梅花易博客"主要分享生活记录、命理研究和个人杂谈。</p>
    <p class="text-4 font-light">在这里，我通过文字记录生活的点滴，探索命理的奥秘，并分享我的见解和思考。</p>
    <div>
        <Image 
            src={snakeDark} 
            alt="Snake Dark" 
            width={765}
            height={765}
            loading="lazy"
        />
    </div>
</LayoutDefault>
