---
import LayoutDefault from "~/layouts/LayoutDefault.astro"
---

<LayoutDefault>
    <h1 class="text-8 font-extrabold font-serif">我是梅花易</h1>
    <p class="text-4 font-light">一个热爱生活、喜欢记录和思考的人。</p>
    <p class="text-4 font-light">我的博客“梅花易博客”主要分享生活记录、命理研究和个人杂谈。</p>
    <p class="text-4 font-light">在这里，我通过文字记录生活的点滴，探索命理的奥秘，并分享我的见解和思考。</p>
    <!-- <div class="tanChiShe">
        <img id="tanChiShe" src="/snake-Dark.svg" alt="Snake Dark">
    </div> -->
  
</LayoutDefault>
