---
import Default from '~/layouts/Default.astro'
import ListSection from '~/components/ListSection.astro'
import ListItem from '~/components/ListItem.astro'
import { getPosts } from '~/utils'

const posts = await getPosts()

const postByYear = new Map<number, Post[]>()
posts.forEach((post: Post) => {
  const year = new Date(post.data.pubDate).getFullYear()
  if (!postByYear.has(year)) {
    postByYear.set(year, [])
  }
  postByYear.get(year)!.push(post)
})
const { locale } = Astro.locals.config
---

<Default>
  <div un-flex="~ col gap-2">
    {
      Array.from(postByYear.entries()).map(([year, posts]) => (
        <ListSection title={year}>
          {posts.map((post) => (
            <ListItem title={post.data.title} href={`/posts/${post.slug}/`} description={post.data.pubDate.toLocaleDateString(locale)} />
          ))}
        </ListSection>
      ))
    }
  </div>
</Default>
