---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import ListSection from '~/components/ListSection.astro'
import ListItem from '~/components/ListItem.astro'
import { getPosts, formatDate } from '~/utils'

const posts = await getPosts()

const postByYear = posts.reduce((acc, post) => {
  const year = (post.data.pubDate ?? new Date()).getFullYear()
  if (!acc.has(year)) {
    acc.set(year, [])
  }
  acc.get(year)!.push(post)
  return acc
}, new Map<number, Post[]>())

const sortedYears = Array.from(postByYear.keys()).sort((a, b) => b - a)
---

<LayoutDefault>
  <div un-flex="~ col gap-4">
    {sortedYears.map((year) => (
      <ListSection title={year}>
        {postByYear.get(year)!.map((post) => (
          <ListItem 
            title={post.data.title} 
            href={`/posts/${post.slug}/`} 
            description={formatDate(post.data.pubDate)} 
          />
        ))}
      </ListSection>
    ))}
  </div>
</LayoutDefault>
