---
import Pagination from '~/components/Pagination.astro'
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import LayoutPost from '~/layouts/LayoutPost.astro'
import { getPostDescription, getPosts } from '~/utils'

const posts = (await getPosts()).slice(0, 5)

const { translate: t } = Astro.locals
---

<LayoutDefault>
  <section contain-layout flex="~ col gap-7.5">
    {
      posts.map((post) => (
        <LayoutPost post={post}>
          <p class="line-clamp-4">{getPostDescription(post)}</p>
        </LayoutPost>
      ))
    }
  </section>
  <Pagination showLeft={false} showPageCount={false} rightTitle={t('all_posts')} rightUrl={'posts/page/1'} />
</LayoutDefault>
