---
import Default from '~/layouts/Default.astro'
import { getCollection } from 'astro:content'
import Post from '~/components/Post.astro'

const allPosts = await getCollection('posts')
---

<Default>
  <section contain-layout un-flex="~ col gap-7.5">
    {
      allPosts.map((post) => (
        <Post post={post}>
          <p>{post.data.description}</p>
        </Post>
      ))
    }
  </section>
</Default>
