---
import Default from '~/layouts/default.astro'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')
---

<Default>
  <section contain-layout un-flex="~ col gap-7.5">
    {
      allPosts.map((post) => (
        <article>
          <header>
            <h2 class="text-5 font-bold lh-7.5">
              <a href="">{post.data.title}</a>
            </h2>
            <div class="my-2.5">
              <time class="text-3.5">{post.data.pubDate.toString().slice(0, 10)}</time>
            </div>
          </header>
          <p>{post.data.description}</p>
        </article>
      ))
    }
  </section>
</Default>
