---
import Disqus from './Disqus.astro'
import Giscus from './Giscus.astro'
interface Props {
  identifier: string
  url: string
  title: string
}

const { identifier, url, title } = Astro.props
const { comments } = Astro.locals.config
---
<div py-16>
  {comments && comments.disqus && <Disqus identifier={identifier} url={url} title={title} />}
  {comments && comments.giscus && <Giscus />}
</div>
