---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'footer'>

const { ...attrs } = Astro.props


const { website, author } = Astro.locals.config
---

<footer font-bold text-3 un-flex="~ col gap-1" un-lg="gap-3.5" {...attrs}>
  <p>
    Copyright © 人生現役 2024
  </p>
  <div style="display: flex; align-items: flex-end;">
    <p style="margin: 0;">
      Thanks for <a target="_blank" href="https://moeyua.com" rel="noopener noreferrer">Moeyua</a> 
    </p>
    <iframe
      style="margin-left: 2px; margin-bottom: -5px;"
      width="91px" height="20px"
      src="https://ghbtns.com/github-btn.html?user=moeyua&repo=astro-theme-typography&type=star&count=true">
    </iframe>
  </div>
  
</footer>
