---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'footer'>

const { ...attrs } = Astro.props

const year = new Date().getFullYear()

const { website, author } = Astro.locals.config
---

<footer class="font-bold text-3 flex flex-col gap-2 lg:gap-3.5" {...attrs}>
  <p>
    © {year}
    <a href={website} rel="noopener noreferrer">{author}</a>
  </p>
  <p>
    Theme Typography by <a href="https://moeyua.com" rel="noopener noreferrer">Moeyua</a>
  </p>
</footer>
