---

---

<header text-center un-flex="~ col gap-2.5">
  <h3 text-5 font-extrabold font-serif >Moeyua</h3>
  <h1 text-8 font-extrabold font-serif>四畳半のへや</h1>
  <nav text-center font-bold un-flex="~ col gap-1">
    <p text-3.5>
      <a href="">首页</a>
      <a href="">归档</a>
      <a href="">分类</a>
      <a href="">关于</a>
    </p>
    <p>
      <a href="" class="icon i-mdi-github"></a>
      <a href="" class="icon i-mdi-rss"></a>
      <a href="" class="icon i-mdi-twitter"></a>
      <a href="" class="icon i-mdi-mastodon"></a>
    </p>
  </nav>
</header>
