---

---

<header class="text-center" un-flex="~ col gap-2.5">
  <h3 class="text-5 font-extrabold font-serif">Moeyua</h3>
  <h1 class="text-8 font-extrabold font-serif">Typography</h1>
  <nav class="text-center font-bold" un-flex="~ col gap-2">
    <ul class="text-3.5" un-flex="~ row gap-2 justify-center">
      <li><a href="/">Home</a></li>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul un-flex="~ row gap-1 justify-center">
      <li><a href="" class="icon i-mdi-github"></a></li>
      <li><a href="" class="icon i-mdi-rss"></a></li>
      <li><a href="" class="icon i-mdi-twitter"></a></li>
      <li><a href="" class="icon i-mdi-mastodon"></a></li>
    </ul>
  </nav>
</header>
