---
interface Props {
  href: string
  title?: string
  description?: string
}
const { href, title, description } = Astro.props
---

<li un-flex="~ col gap-1 items-start">
  <h3 class="post-title!">
    <a href={href}>{title}</a>
  </h3>
  <p>{description}</p>
</li>
