---
const { translate: t } = Astro.locals

interface Props {
  showLeft?: boolean
  leftTitle?: string
  leftUrl?: string

  showRight?: boolean
  rightTitle?: string
  rightUrl?: string

  showPageCount?: boolean
  currentPage?: number
  totalPage?: number
}

const {
  showLeft = true,
  showRight = true,
  leftTitle,
  rightTitle,
  leftUrl,
  rightUrl,
  showPageCount = true,
  currentPage,
  totalPage,
} = Astro.props
---

<footer class="mt-5">
  {
    showPageCount && (
      <p class="mb-2.5">
        {t('page_number', currentPage)} / {t('page_count', totalPage)}
      </p>
    )
  }
  <p class="flex items-center gap-2">
    {
      showLeft && (
        <a class=" inline-flex items-center" href={leftUrl}>
          <i class="i-mdi-chevron-double-left inline-block" />
          {leftTitle}
        </a>
      )
    }
    {
      showRight && (
        <a class=" inline-flex items-center" href={rightUrl}>
          {rightTitle}
          <i class="i-mdi-chevron-double-right inline-block" />
        </a>
      )
    }
  </p>
</footer>
