---
interface Props {
  page: Page
}

const { page } = Astro.props
---

<footer class="mt-5">
  <p class="mb-2.5">第 {page.currentPage} 页 / 共 {page.lastPage} 页</p>
  <p class="flex items-center gap-2">
    <span class="inline-flex items-center">
      <i class="i-mdi-chevron-double-left icon"></i>
      {page.url.prev ? <a href={page.url.prev}>上一页</a> : <span>上一页</span>}
    </span>

    <span class="inline-flex items-center">
      {page.url.next ? <a href={page.url.next}>下一页</a> : <span>下一页</span>}
      <i class="i-mdi-chevron-double-right icon"></i>
    </span>
  </p>
</footer>
