---
import '~/styles/index.css'
import Header from '~/components/Header.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ink</title>
  </head>
  <body un-container p-8>
    <Header />
    <main>
      <slot />
    </main>
    <footer>footer</footer>
  </body>
</html>
