---
import '~/styles/index.css'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
import { SEO } from 'astro-seo'
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- https://github.com/jonasmerlin/astro-seo#readme -->
    <SEO
      charset="utf-8"
      title="Typography"
      titleDefault="Typography"
      description="A "
      twitter={{
        creator: '@moeyua',
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.svg', type: 'image/svg+xml' }],
      }}
    />
  </head>
  <body class="px-8 pt-10 pb-15 container" un-flex="~ col gap-7.5">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
