---
import '~/styles/index.css'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ink</title>
  </head>
  <body un-container px-8 pt-10 pb-15 un-flex="~ col gap-7.5">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
